.input-c {
  padding: 5px;
  margin: 5px;
}

.radio {
  margin: 5px;
  justify-content: center;
  width: 100%;
}

.radio label {
  margin: 5px;
}

.input-date {
  margin: 5px;
}

.input-color {
  margin: 5px;
  width: 20%;
}

.input-chekcbox {
  margin: 5px;
}

.btn {
  margin: 5px;
  margin-top: 15px;
  align-self: center;
}

label {
  margin: 5px;
}
